saves/*
saves/history/*
!saves/stats_0000-00-00_00h00.txt
strategies/*
!strategies/default_strategy.txt
bot_UR.exe
auto_seller.exe
python/auto_seller/__pycache__
python/auto_seller/log_cancels.txt
python/auto_seller/log_sales.txt
python/auto_seller/log_xp.txt
python/auto_seller/raw_collection.txt
python/auto_seller/collection.txt
python/auto_seller/missing.txt
python/auto_seller/to_sell.txt
python/auto_seller/to_level.txt
python/auto_seller/*.bat
python/auto_seller/save
python/auto_seller/bat
python/stats/__pycache__
python/web/__pycache__
